.services-wrapper {
	background: #98D7C2;
}

.services-title {
	text-align: center;
	font-family: 'Playfair Display', serif;
	font-size: 25px;
	font-weight: 900;
	margin: 0;
	padding-top: 5px;
}

.services-wrapper hr {
  display: block;
  height: 1px;
  width: 200px;
  border: 0;
  border-top: 2px solid #fff;
  margin: auto;
  padding: 0;
}

.services-list {
	display: grid;
	grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
	width: 80vw;
	height: auto;
	margin-inline: auto;
	gap: 50px;
	padding-top: 30px;
	padding-bottom: 100px;
}

.services-list * {
	text-decoration: none;
}

.services-list-service {
  border-radius: 16px;
  background: #fff;
  overflow: hidden;
}

.services-list-service-text {
	padding-left: 30px;
	padding-right: 30px;
}

.services-list-service-desc {
	padding-bottom: 10px;

}

.services-list-service-image {
	width: 100%;
	height: 50%;
	object-fit: cover;
}

.services-list-service-button {
  background-color: #98D7C2;
  border: none;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Playfair Display', serif;
  border-radius: 30px;
  margin-left: -12px;
}

.services-list-service-button:hover {
  background-color: #86d0b7;
  border: none;
  cursor: pointer;
}

.grow { 
transition: all .2s ease-in-out; 
}

.grow:hover { 
transform: scale(1.1); 
}