body {
  margin: 0;
font-family: 'Playfair Display', serif;
font-size: 18px;
color: black;  
-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:visited, a:hover, a:focus, a:active {
  text-decoration: none; color:black; 
}

#services {
  scroll-margin-top: 120px;
}

#contact {
  scroll-margin-top: 120px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;
}

@media screen and (max-width: 590px) {
  body {
    font-size: 16px;
  }

  body h2 {
    font-size: 28px;
  }

  body h3 {
    font-size: 20px;
  }
}